a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 1px solid #000;
  margin: 0 0.3em 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  text-align: center;
  transition: all 0.2s;
}
a.button:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
@media all and (max-width: 30em) {
   a.button {
    display: block;
    margin: 0.4em auto;
  }
}
